@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 30px 0;
    
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 100px;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
    background-color: #719EF4;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

a{
    color: #111;
    text-decoration: none;
}

input{
    border: none;
    outline: none;
}

.from{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.from a{
    border-bottom: 1px solid black;
}

.from a:hover{
    border-bottom: 1px solid #587CEE;
}


/* <!-- =================================================       
                     NAVBAR SECTION
 ================================================= --> */

nav{
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
}

.nav img{
    width: 60px;
    height: 35px;
}

.turned_on a{
    color: #719EF4;
}

.pages{
    display: flex;
    align-items: center;
    gap: 30px;
}

ul li a{
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
}
 
ul li a:hover{
    color: #719EF4;
}

.turn_rigt{
    width: 26px;
}

/* <!-- =================================================
                     HERO SECTION 
================================================= -->-- */

.hero {
    background: linear-gradient(to top, #F0F3FE 20%, white 10%);

}

.senter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.sociak_medias svg{
    width: 40px;
    color: white;
    background-color: #719EF4;
    border-radius: 50%;
    padding: 5px;
    margin: 30px 20px 30px 0;
}

.meet{
    width: 450px;
    height: 590px;
    border-radius: 100px;
}

.about_matt h1{
    font-size: 6rem;
    color: #111;
    font-weight: 500;
}

.about_matt h2{
    font-family: "Alata", sans-serif;
    font-size: 36px;
    color: #719EF4;
    letter-spacing: 1px;
}

.hire_me{
    margin: 30px 0;
    padding: 25px 45px;
    border-radius: 39px;
}
.hire_me:hover{
    background-color: #9AB0F5;
}

.sociak_medias svg{
    background-color: #9AB0F5;
}

.skills_section{
    padding-bottom: 30px;
    background: linear-gradient(to top, #F0F3FE 50%, white 50%);
}

.skills_section h1, .experiance_section h1{
    font-family: "Alata", sans-serif;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;   
}

.skills{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.skil_card{
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7190F0;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    max-width: 270px;
    object-fit: cover;
}

.skil_card img{
    width: 100px;
    height: 75px;
}

.skil_card h2, .skil_card span{
    margin: 10px 0;
}

/* <!-- =================================================
                     EXPERIANCE SECTION
================================================= --> */

.experiance_section{
    background-color: #F0F3FE;
    padding: 50px;
}

.experiance{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    padding-bottom: 40px;
}

.row{
    padding: 30px;
    margin: auto;
    width: 900px;
    border-bottom: 1px solid #7190F0;

}

.location_a svg{
    width: 20px;
    height: 25px;
}

.web{
    font-size: 24px;
    font-weight: 600;
} 

.time{
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
}

.experience_right_part{
    max-width: 800px;
    font-size: 20px;
}

.experience_right_part h3{
    padding: 0 0 20px 0;
}

.yers_exp{
    position: absolute;
    color: white;
    background-color: #7190F0;
    border-radius: 100px;
    padding: 70px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: -10%;
    right: 35%;
}

.yers_exp h1{
    font-size: 60px;
}

.yers_exp p{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

.experience_right_part span{
    font-family: "Open Sans", sans-serif;
    line-height: 35px;
    font-size: 18px;
    font-weight: 500;
}

.location_a{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #7190F0;
}

.location_a:hover{
    color: #587CEE;
}

/* <!-- =================================================
                     NUMBERS SECTION
================================================= --> */

.numbers{
    background-color: #F0F3FE;
    padding: 40px 0;
}

.numbers .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
}

.numbers .container .num h1{
    font-size: 60px;
    color: #7190F0;
    padding-bottom: 15px;
}

.numbers .container .num p{
    text-transform: uppercase;
    font-size: 20px;
}

/* <!-- =================================================
                     GREATING SECTION
================================================= --> */

.greating{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.greating img{
    width: 52px;
    height: 52px;
}

.greating h1{
    font-size: 48px;
    font-weight: 400;
    padding: 30px;
}

.greating p{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 38.4px;
    text-align: center;
}

/* <!-- =================================================
                     METT RELAX SECTION
================================================= --> */

.relax{
    cursor: pointer;
}

.relax .container{
    display: flex;
    gap: 100px; 
}

.relax .quality{
    display: flex;
    justify-content: center;
    font-size: 46px;
    font-weight: 400;
    padding-bottom: 60px;
}

.plus h2{
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 300px;
    font-size: 17px;
    font-weight: 700;
    padding: 40px 0;
}

.plus span{
    font-size: 40px;
    font-weight: lighter;
    background-color: #7190F0;
    border-radius: 50%;
    padding: 5px 15px;
    color: white;
}

/* <!-- =================================================
                     FREDERICK SECTION
================================================= --> */

.comments{
    background-color: #F0F3FE;
    padding: 10px 0 60px;
}

.comments .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner, .dots{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.innrner_text{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    padding: 0 50px;
}

.innrner_text p{
    max-width: 660px;
    margin-bottom: 40px;
}

.inner svg{
    cursor: pointer;
    width: 45px;
    height: 55px;
    color: #587CEE;
}


.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(196,209,249);
    margin-top: 30px;
}

.dot:hover{
    background-color: #7190F0;
}

/* <!-- =================================================
                      WORK TABLE SECTION
    ================================================= --> */

.work_table{
    background-color: #F0F3FE;
    padding: 20px 0;
}

.work_table .container, .enter_section{
    display: flex;
    gap: 30px;

}

.work_table_left_part, 
.work_table_right_part, 
.left_enter_section, 
.right_enter_section{
    width: 50% ;
}

.work_table_left_part{
    background-color: white;
    padding: 70px 40px;
}

.work_table_left_part h3{
    font-size: 20px;
    font-weight: 500;
}

.work_table_left_part h1{
    padding: 15px 0;
    font-size: 50px;
    font-weight: 400;
}

.work_table svg{
    width: 50px;
    color: white;
    background-color: #7190F0;
    padding: 10px;
    border-radius: 50%;
}

.work_table_left_part p, .left_enter_section h3 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;

}

.work_table_left_part p a, .left_enter_section p a{
    border-bottom: 1px solid #111;
}
.work_table_left_part p a:hover, .left_enter_section p a:hover{
    border-bottom: 1px solid #587CEE;
}

.line{
    border: 1px solid #C0C0C0;
    margin: 30px 0;
}

.phone, .mett_email{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.phone_number a{
    color: #7190F0 ;
    font-size: 25px;
    padding: 10px 0 10px 70px ;
}

.work_table_tight_part img{
    width: 500px;
    height: 630px;
    border-radius: 30px;
}





/* font-family: "Open Sans", sans-serif; */
