@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 30px;
    /* padding-left: 17px; */
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 100px;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
    background-color: #719EF4;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

a{
    color: #111;
    text-decoration: none;
}

input{
    border: none;
    outline: none;
}

nav img{
    cursor: pointer;
}

/* <!-- =================================================       
                     NAVBAR SECTION
 ================================================= --> */

nav{
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
}

.nav img{
    width: 60px;
    height: 35px;
}

.turned_on a{
    color: #719EF4;
}

.pages{
    display: flex;
    align-items: center;
    gap: 30px;
}

ul li a{
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
}
 
ul li a:hover{
    color: #719EF4;
}

.turn_rigt{
    width: 26px;
}

.about_matt p a:hover{
    border-bottom: 1px solid #7190F0;
    font-family: "Open Sans", sans-serif;
}

section{
    padding-top: 50px;
}

/* <!-- =================================================
                     HERO SECTION 
================================================= -->-- */

.hero {
    background: linear-gradient(to top, #F0F3FE 20%, white 10%);

}

.senter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sociak_medias svg{
    width: 40px;
    color: white;
    background-color: #719EF4;
    border-radius: 50%;
    padding: 5px;
    margin: 30px 20px 30px 0;
}

.meet{
    width: 450px;
    height: 590px;
    border-radius: 100px;
}

.about_matt h1{
    font-size: 6rem;
    color: #111;
    font-weight: 500;
}

.about_matt h2{
    font-family: "Alata", sans-serif;
    font-size: 36px;
    color: #719EF4;
    letter-spacing: 1px;
}

.hire_me{
    margin: 30px 0;
    padding: 25px 45px;
    border-radius: 39px;
}
.hire_me:hover{
    background-color: #9AB0F5;
}

.sociak_medias svg{
    background-color: #9AB0F5;
}

.skills_section{
    background-color: #F0F3FE;
    padding-bottom: 30px;
}

.skills_section h1, .experiance_section h1{
    font-family: "Alata", sans-serif;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;   
}

.skills{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.skil_card{
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7190F0;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    max-width: 270px;

}

.skil_card img{
    width: 100px;
    height: 75px;
}

.skil_card h2, .skil_card span{
    margin: 10px 0;
}

/* <!-- =================================================
                     EXPERIANCE SECTION
================================================= --> */

.experiance_section{
    background-color: #F0F3FE;
    padding: 50px;
}

.experiance{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    padding-bottom: 40px;
}

.row{
    padding: 30px;
    margin: auto;
    width: 900px;
    border-bottom: 1px solid #7190F0;

}

.location_a svg{
    width: 20px;
    height: 25px;
}

.web{
    font-size: 24px;
    font-weight: 600;
} 

.time{
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
}

.experience_right_part{
    max-width: 800px;
}

.experience_right_part h3{
    padding: 0 0 20px 0;
}

.experience_right_part{
    font-size: 20px;
}

.experience_right_part span{
    font-family: "Open Sans", sans-serif;
    line-height: 35px;
    font-size: 18px;
    font-weight: 500;
}

.location_a{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #7190F0;
}

.location_a:hover{
    color: #587CEE;
}
/* 
<!-- =================================================
                     CARDS SECTION
================================================= --> */

.enter_section{
    display: flex;
    gap: 30px;
}


.left_enter_section, 
.right_enter_section{
    width: 50% ;
}

.imgs_cards h3{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 30px;
    font-weight: 400;
}

.first_img_cards{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.img_card{
    border-radius: 40px;
    background-color: #7190F0;
    color: white;
}

.img_card h2{
    font-family: "Alata", sans-serif;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    padding: 20px;
}

.img_card h1{
    padding-bottom: 30px;
    font-weight: 400;
    padding: 0px 20px 15px;

}

.img_card img{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 360px;
    height: 300px;
}

.pading-top{
    padding-top: 30px;
}

/* <!-- =================================================
                      ENTER SECTION
 ================================================= --> */

.enter_section{
    padding: 0 50px;

}

.left_enter_section h1, .right_enter_section{
    font-size: 48px;
    font-weight: 500;
    padding-top: 100px;
}

.enter{
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding-top: 15px;
}

.enter input{
    padding: 20px 0 15px 10px;
    font-size: 18px;
    border-bottom: 2px solid #111;
    width: 80%;
}

.left_enter_section button{
    margin: 25px 0;
    padding: 22px 200px;
    border-radius: 30px;
}
.left_enter_section button:hover{
    background-color: #111;
}


.right_enter_section img{
    width: 500;
    height: 500px;
}

/* <!-- =================================================
                      CREATE FOOTER
================================================= --> */

footer{
    background-color: #F0F3FE;
    height: 340px;
}

footer .container{
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    color: #759BF2;
}
footer h1{
    font-weight: 400;
}

footer .sociak_medias svg{
    background-color: transparent;
    color: #759BF2;
    margin: 0px;
    margin-top: 30px;
}
footer .sociak_medias svg:hover{
    background-color: transparent;
}

.right_create{
    text-align: right;
}

.right_create h1{
    padding: 20px 0;
}

.right_create a{
    font-weight: 600;
    color: #759BF2;
}
.right_create a:hover{
    color: #587CEE;
}




































